extend layout 

block content   
    h1 Add new Contact 
    form(method="post", action='/new_contact')
        p Name: 
        input#title(type="text", name="name")
        p Phone Number: 
        input#title(type="text", name="phone")
        p: button(type="button") Add new Contact 

    h1 Add new Database 
    form(method="post", action='/createdb')
        p Database Name:
        input#title(type="text", name="dbname")
        p: button(type="submit") Add new Database 

    h1 Enter phone number to delete new_contact 
    form(method="post", action='/delete_contact')
        p Phone Number:
        input#title(type="text", name="phone")
        p: button(type="submit") Delete Contact 

    h1 View specific contact
    form(method="post", action='/view_contact')
        p Phone Number:
        input#title(type="text", name="phone")
        p: button(type="submit") Search Contact 